html {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	
	/* 100% of window with, so the body width of 80% will work as expected */
}
body {
	background-color: #f2f2f2;
	background-size: 100%;
	display: block;
	overflow-x: hidden;
}

/*nav end */

a {
	color: inherit;
}

::-webkit-scrollbar {
	display: none;
}

#waveImg{
	left: 50%; transform: translate(-50%,0);
	position:center;
	margin-top: -25%;
	width: 100%;
	height: auto;
	max-height: 1440px;
	max-width: 2560px;
	position: absolute;
	z-index: -10;
}

.intro{
	width: 80%;
	max-width: 1400px;
	height: 100vh;
	min-height: 900px;
	padding-top: 100px;
	margin: 0 auto;
	
	
}

.intro h1{
    width: 20vw;
    min-width: 500px;
}



.intro h3{
	font-family: 'Nunito Sans', sans-serif;
    font-size: 1.25em;
    color: #575757
	
}

#wordChange{
	font-family: 'Montserrat', sans-serif;
	font-size: 7em;
	color: #b260bb;
}
.main-container{
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
}

#aboutDiv{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 100px;
}

#aboutBody{
    -webkit-flex: 2;  /* Safari 6.1+ */
    -ms-flex: 2;  /* IE 10 */  
    flex: 2; 
}

#aboutBody p{
    font-family: 'Nunito Sans', sans-serif;
	font-size: 1.25em;
}

#aboutText{
    -webkit-flex: 3;  /* Safari 6.1+ */
    -ms-flex: 3;  /* IE 10 */  
    flex: 3;
    padding-left: 5%;
    /* align-self: center; */
}

#aboutText p {
    font-family: 'Nunito Sans', sans-serif;
	font-size: 1.25em;
}



#portfolioDiv{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    margin-top: 50px;
    
}


.portfolioItems{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}


#cardGrid{
    display: grid; grid-gap: 16px;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: auto;
}



.card{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    justify-self: flex-start;
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: rgba(37, 37, 37, 0.26) 0px 0px 4px 0px;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 11;
    overflow: hidden;
    text-decoration: none;
    color: black;

    transition: box-shadow .3s, transform .3s;
    -webkit-transition: box-shadow .3s, transform .3s;
	-moz-transition: box-shadow .3s, transform .3s;
	-o-transition: box-shadow  .3s, transform .3s;
}

.card:nth-child(1){
    grid-column-start: span 4;
    grid-row-end: span 4;
}
.card:nth-child(2){
    grid-column-start: span 4;
    grid-row-end: span 3;
}
.card:nth-child(3){
    grid-column-start: span 4;
    grid-row-end: span 3;
}
.card:nth-child(4){
    grid-column-start: span 5;
    grid-row-end: span 2;
}
.card:nth-child(5){
    grid-column-start: span 3;
    grid-row-end: span 2;
}
.card:nth-child(6){
    grid-column-start: span 4;
    grid-row-end: span 2;
}
.card:nth-child(7){
    grid-column-start: span 4;
    grid-row-end: span 1;
}
.card:nth-child(8){
    grid-column-start: span 4;
    grid-row-end: span 1;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: rgba(37, 37, 37, 0.26) 0px 0px 4px 1px;
    text-decoration: none;
    color: black;
}

.card .contentPad{
    padding: 4px 8px 8px 8px;
    min-height: 175px;
    max-height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card .image{
    width: 100%;
    height:100%;
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;
    padding-bottom: 56.25%;
    align-self: flex-start;
    
}

.card .image::after{
    content: "";
    position: absolute;
    width: 98%;
    height: calc(100% - 175px);
    top: 0.25%;
    left: 0%;
    z-index: -1;
    border-radius: 15px;
    background: inherit;
    filter: blur(6px);
    opacity: 1;
    box-shadow: 0 -4px 1px #a1a1a1;    
  }

.card .overline{
    margin: 12px 0px 0px 0px;
    font-size: .85em;
    display: flex;
    flex-direction: row;
    height: 2em;
    flex-wrap: wrap;
    white-space: nowrap;
    overflow: hidden;
}

.card .overline .cat{
    margin: 0 4px 4px 4px;
    padding: 1px 8px;
  
    font-family: 'Nunito Sans', sans-serif;
}


.card .overline .cat.des{
    background: linear-gradient(to top, #4a76c736 50%, transparent 50%);
}
.card .overline .cat.dev{
    background: linear-gradient(to top,   #b260bb36 50%, transparent 50%);
}
.card .overline .cat.res{
    background: linear-gradient(to top,  #4ac7a136 50%, transparent 50%);
}
.card .overline .cat.tool{
    background: linear-gradient(to top,  #c70f0f36 50%, transparent 50%);
}





  .card h4{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 1.2em;
    max-height: 2.3em;
    overflow: hidden;
    display: -webkit-box;
  
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2
  }

  .card .body{
    width: 100%; 
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.2em;
    color: gray;
    height: 3.5em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3
  }

  #skillsList{
      display: flex;
      flex-wrap: wrap;
      margin-left: -8px;
      margin-top: 16px;
  }

  #skillsList a{
    width: auto !important;
    margin: 0 8px !important;
    font-size: 1.3em;
    font-family: 'Nunito Sans', sans-serif !important;
    color: #a1a1a1 !important;
    cursor: pointer;

    transition: color .3s, transform .3s;
    -webkit-transition: color .3s, transform .3s;
    -moz-transition: color .3s, transform .3s;
    -o-transition: color  .3s, transform .3s;
  }

  #skillsList .des:hover{
    color: #4a75c7 !important;
}
#skillsList .dev:hover{
  color: #b260bb !important;
}
#skillsList .res:hover{
  color: #4ac7a1 !important;
}
#skillsList .tool:hover{
  color: #c70f0f !important;
}




  #skills ul{
      padding: 0;
      max-width: 600px;
  }

  #skills ul li {
    display: inline;
    text-align: center;
  }
  
  #skills a {
    cursor: pointer;
    display: inline-block;
    font-family: 'Nunito Sans', sans-serif;
    width: 18.5%;
    padding: .5rem 0;
    margin: 0;
    text-decoration: none;
    color: #333;
  }
  #skills .all.active ~ hr {
    margin-left: 0%;
    background: black;
  }

  #skills .des.active ~ hr {
    margin-left: 18.25%;
    background: #4a75c7;
  }

  #skills .dev.active ~ hr {
    margin-left: calc(18.5% * 2);
    background: #b260bb;
  }

  #skills .res.active ~ hr {
    margin-left: calc(18.5% * 3);
    background: #4ac7a1;
  }

  #skills .tool.active ~ hr {
    margin-left: calc(18.5% * 4);
    background:  #c70f0f;
  }

  #skills .all:hover ~ hr{
    margin-left: 0%;
    background: black;
  }

  #skills .des:hover ~ hr {
    margin-left: 18.5%;
    background: #4a75c7;
  }
  
  #skills .dev:hover ~ hr {
    margin-left: calc(18.5% * 2);
    background: #b260bb;
  }
  
  #skills .res:hover ~ hr {
    margin-left: calc(18.5% * 3);
    background: #4ac7a1;
  }
  
  #skills .tool:hover ~ hr {
    margin-left: calc(18.5% * 4);
    background:  #c70f0f;
  }
  
  #skills hr {
    height: .25rem;
    width: 18.5%;
    margin: 0;
    border: none;
    transition: .3s ease-in-out;
  }










#bottomDiv{
	position: relative;
	float: left;
	width: 100%;
	overflow: hidden;
	margin-top: 0px;
	height: auto;
}



#contactDiv {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
  
}

#contactContainer{  
    width: 100%;
}

#contactContainer p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: gray;
}

#contactBubbles{
    margin-top: 24px;
}

.contactBubble{
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    width: 48px;
    height: 48px;
    padding: 12px;
    background-color: #efefef;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 4px;
    
    transition: transform .3s;
    -webkit-transition: transform .3s;
	-moz-transition: transform .3s;
	-o-transition: transform .3s;
    

}

.contactBubble:nth-child(1){
    margin-left: 0px;
}

.contactLink{
    text-decoration: none;
    fill: #6b6b6b;

    transition: fill .3s;
    -webkit-transition: fill .3s;
	-moz-transition: fill .3s;
	-o-transition: fill .3s;
}

.contactBubble:hover{
    transform: scale(1.1)
}

.contactBubble:hover .contactLink{
    text-decoration: none;
    fill: #cc1c85;
}

.contactBubble:nth-child(2):hover .contactLink{
    text-decoration: none;
    fill: #b260bb;
}

.contactBubble:nth-child(3):hover .contactLink{
    text-decoration: none;
    fill: #4a75c7;
}







#bottomDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.footer{
    font-family: 'Nunito Sans', sans-serif;
	font-size: .8em;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
    text-align: center;
    color: #b260bb;
    -webkit-user-select: none;
	/* Chrome/Safari */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* IE10+ */
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

.floatAnimate{
    animation: float 1.5s infinite ease-in-out;
    -webkit-animation: float 1.5s infinite ease-in-out; /* Safari 4+ */
  -moz-animation: float 1.5s infinite ease-in-out; /* Fx 5+ */
  -o-animation: float 1.5s infinite ease-in-out; /* Opera 12+ */
    position: relative;
    margin-left: 5px;

    -webkit-user-select: none;
	/* Chrome/Safari */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* IE10+ */
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;

}

@keyframes float {
    0% {top: 0px;}
    50% {top: -5px;}
    100% {top: 0px;}
  }

  @-webkit-keyframes float {
    0% {top: 0px;}
    50% {top: -5px;}
    100% {top: 0px;}
  }
  @-moz-keyframes float {
    0% {top: 0px;}
    50% {top: -5px;}
    100% {top: 0px;}
  }
  @-o-keyframes float {
    0% {top: 0px;}
    50% {top: -5px;}
    100% {top: 0px;}
  }







/* For Less than 769 */
@media screen and (min-width: 1px) and (max-width: 768px) {
	body {
		background-repeat: no-repeat;
		background-position: 0px 400px;
		background-size: 100%;
		background-color: #f2f2f2;
		overflow-x: hidden !important;
	}

    #wordChange{
        font-size: 5em;
    }

    .intro{
        height: 100vh;
        min-height: 550px;
        width: 90%;
    }

    .intro h1{
        width: 20vw;
        min-width: 355px;
    }

    .main-container{
        width: 90%;
    }
    

    #cardGrid{
        display: grid; grid-gap: 16px;
        grid-template-columns: repeat(8,1fr);
        grid-auto-rows: auto;
    }

    .card{
        grid-column-start: span 4 !important;
        grid-row-end: span 3 !important;
    }
    .card:nth-child(1){
        grid-row-end: span 4 !important;
    }
   



    #aboutDiv{
        flex-direction: column;
    }

    #aboutText{
        margin-top: 16px;
        padding-left: 0;
    }

    #aboutPic{
        border-radius: 50%;
        width: 150px;
        height: 150px;
        margin-bottom: 30px;
        align-self: center;
    }

    

    #bottomDiv{
        padding: 0 20px;
    }

    .footer{
        font-size: 1em;
    }


}


@media screen and (min-width: 1px) and (max-width: 480px) {
	body {
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: 100%;
		background-color: #f2f2f2;
		overflow-x: hidden !important;
	}
    
    #wordChange{
        font-size: 3em;
    }

    .intro{
        height: 100vh;
        min-height: 500px;
        width: 90%;
    }

    .intro h1{
        font-size: 2em;
        width: 80vw;
        min-width: auto;
    }

    #cardGrid{
        display: grid; grid-gap: 16px;
        grid-template-columns: repeat(4,1fr);
        grid-auto-rows: auto;
    }

    .card{
        grid-column-start: span 2 !important;
        grid-row-end: span 3 !important;
    }
    .card:nth-child(1){
        grid-column-start: span 4 !important;
        grid-row-end: span 4 !important;
    }
    .card:nth-child(6){
        grid-column-start: span 4 !important;
        grid-row-end: span 4 !important;
    }
	
}
