html {
    padding:0;
    margin:0;
    width:100%; /* 100% of window with, so the body width of 80% will work as expected */
    overflow-x: hidden !important;

}

body {
	background-color: #f0f0f0;
	background-repeat: no-repeat;
	background-position: 0px 50px;
	background-size: 100%;
	background-color: #f2f2f2;
	overflow-x: hidden !important;

}




::-webkit-scrollbar { 
    display: none; 
}

#wrapper {
    margin: 0 auto;
    width:80%;
}

.navbar{
	margin-left: 0%;
}


.homename {
	position: relative;
	font-family: Maitree, serif;
	font-size: 3em;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	position: relative;
	margin-top: 3%;
	margin-left: 0%;
	float: left;
	color: black;

	/* makes text unselectable */
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

.hometitle {
	color:#e7e7e7;
	

	/* makes text unselectable */
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}


.HumanIntrusionDiv{
	margin-top: 13%;
	

}

.HumanIntrusionDiv img {
  position:absolute;
  width: 40%;
  height: auto;
  opacity: 1;

  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  
}
.HumanIntrusionDiv img.HIBtop:hover {

  opacity:0;
	

}

.ComingSoonDiv{
	/*margin-top: 10%;*/
	 margin: 13% 0% 0% 55%;
}


.ComingSoon{

  position:absolute;
  width: 40%;
  height: auto;
  opacity: 1;
}


/*
@media screen and (max-width: 846px){

.homename{
	font-size: 2em;
}

.HumanIntrusionDiv{
	margin-top: 20%;
	

}

.ComingSoonDiv{
	margin-top: 10%;
	 margin-top: 20%;
}

}*/






@media screen and (max-width: 768px) {
.homename{
	font-size: 2em;
	margin-top: 5%;
}

.ComingSoonDiv{
	/*margin-top: 10%;*/
	 margin: 55% 0% 0% 0%;
}


.ComingSoon{

  position:absolute;
  width: 80%;
  height: auto;
  opacity: 1;
}
.HumanIntrusionDiv{
	margin-top: 13%;
	

}

.HumanIntrusionDiv img {
  position:absolute;
  width: 80%;
  height: auto;

}
}


@media screen and (max-width: 504px) {

.ComingSoonDiv{
	/*margin-top: 10%;*/
	 margin: 70% 0% 0% 0%;
}


.ComingSoon{

  position:absolute;
  width: 80%;
  height: auto;
  opacity: 1;
}
.HumanIntrusionDiv{
	margin-top: 23%;
	

}

.HumanIntrusionDiv img {
  position:absolute;
  width: 80%;
  height: auto;

}

}

/* For less than 375 */
@media screen and (max-width: 375px) {

.homename{
	font-size: 1.5em;
	margin-top: 5%;
}
}
