html {
    padding:0;
    margin:0;
    width:100%; /* 100% of window with, so the body width of 80% will work as expected */
    overflow-x: hidden !important;

}

body {
	background-color: #f0f0f0;
	/*background-image: url("gradientbackground.jpg");*/
	background-position: 0 950px;
	overflow-x: hidden !important;

}

::-webkit-scrollbar { 
    display: none; 
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:80%;
}




.navtabs{
	position: absolute;
	margin-top: 5%;
	float:left;
	margin-left: 35%;
	width: 55%;
	background-color: #e7e7e7;
	padding-left: 1%;
	padding-right: 1%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow-x: hidden;

	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;

}


.navbutton{
	position: relative;
	padding: 1% 2%;
	color: black;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-size: 1.35em;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
}



.footer{
  position: absolute;
  margin-top: 400px;

  float: left;
  font-family: Maitree, serif;
  font-size: .5em;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  text-align: left;
  padding: 2% 20% 2% 0%;
  width: 100%;
  height: auto;

  color: #87485D;



  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}


.contact-info{
	line-height: 1.2em;
	position: absolute;
	text-align: justify;
	margin-top: 8%;
	font-family: 'Raleway', sans-serif;
	margin-left: 0%;
	width: 100%;
	font-size: 1.5em;
}

.firstpara::first-letter{
	font-size:1.2em;
}










@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;

}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}





.contact-form{
	position: absolute;
	margin-left: 0%;
	margin-top: 10%;
}


#contactform {
  position: absolute;
  width: 500px;
  margin: 50px auto 100px auto;
}

label {
	font-family: 'Raleway';
	font-size:1em;
	padding: .2%;
}

input {
  font-family: 'Raleway';
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #726659;
  
  border: solid 1px #adadad;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #adadad;
  opacity: .5;
  color: black;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  opacity: .5;
  
  border: solid 1px #adadad;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #adadad;
  color: black;
}

#submit {
  width: 502px;
  
  padding: 0;
  margin: 5px 0px 0px 0px;
  
  font-family: 'Raleway', sans-serif;
  font-size: 0.875em;
  color: #adadad;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #adadad;
  border-top: none;	
  width: 94%;

}

#submit:hover {
	background: #87485D;
 	color: white;
 	opacity: 1;

} 

@media screen and (min-width: 350px) and (max-width: 922px) {

.contact-form{
  margin-top: 20%;
  
}
#contactform {
  position: absolute;
  width: 300px;
  margin: 10px auto 20px auto;
}

.contact-info{
  margin-top: 14%;
}

input{
  width: 350px;
  max-width: 350px;
}

#comments{
  width: 350px;
  max-width: 350px;
}

#submit{
  width: 350px;
  max-width: 350px;
}

}