html body{
    padding:0;
    margin:0 auto;
    width:100%; /* 100% of window with, so the body width of 80% will work as expected */
    max-width: 100%;
    overflow-x: hidden;



}

body {
	background-color: #f0f0f0;
	/*background-image: url("gradientbackground.jpg");*/
	background-position: 0 950px;
  overflow-x: hidden;


}

::-webkit-scrollbar { 
    display: none; 
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:80%;
    overflow-x: hidden;
}







.footer{
  position: fixed;
  height: 60px;
  bottom: 0;
  background-color: #F8F8F8;
  float: left;
  font-family: 'Questrial', sans-serif;
  font-size: .8em;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  text-align: center;
  padding: 20px 0%;
  width: 100%;
  height: auto;

  /*background-color: #e7e7e7;*/
  color: black;



  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}
/*

.contact-info{
	line-height: 1.2em;
	position: absolute;
	text-align: justify;
	margin-top: 100px;
	font-family: 'Questrial', sans-serif;
	margin-left: 0%;
	width: 100%;
	font-size: 1.5em;
} */

.firstpara{
  font-size: 2em;
  font-family: 'Questrial', sans-serif;
  margin-top: 100px;
  position: relative;
}

.firstpara::first-letter{
	font-size:1.25em;

}


#socialMediaIcons{

}

.hiddenOnLoad{
  display: none;
}

.contactIcon{
  opacity: 0;
  width: 60px;
  height: auto;
  margin-right: 10px;

}

.contactIconGradient{
  width: 60px;
  height: auto;
  margin-right: 10px;

}

#linkedIn{
  transition: .5s ease-in-out;
}


#linkedIn:hover{
  fill: #0077B5;
}

#instaDiv{
  position: absolute;
  margin-top: 0px;
  max-width: 60px;
  height: auto;
  margin-right: 10

  background-color: green;
}

#instagram-black{
  z-index: 10;
  transition: .5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

#instagram-black:hover{
  opacity: 0;
  
}

#instagram{
   fill: url(#Gradient1);
   transition: .5s ease-in-out;
   position: absolute;
   top: 0;
   left: 0;
   margin-left: 0px;
   z-index: -10;
   

}

.stop1{
  stop-color: #002aff;
}

.stop2{
  stop-color: #ee2a7b;
}

.stop3{
  stop-color: #f9ed32;
}


#twitter{
  margin-left: 75px;
  transition: .5s ease-in-out;
}

#twitter:hover{
  fill: #00aced;
}

#facebook{
  transition: .5s ease-in-out;
}

#facebook:hover{
  fill: #3B5998;
}

#email{
  transition: .5s ease-in-out;
}

#email:hover{
  fill: #b260bb;
  cursor: pointer;
}

#jsfiddle{
  transition: .5s ease-in-out;
}

#jsfiddle:hover{
  fill: #0078c9;
}

#github{
  transition: .5s ease-in-out;
}

#github:hover{
  fill: #6e5494;
}

.noHover{
  transition: .5s ease-in-out;
}

.noHover:hover{
  fill: black !important;
}

.contact-form{
	position: absolute;
	margin-left: 0%;
	margin-top: 0%;
} 


#contactform {
  position: absolute;
  width: 500px;
  margin: 50px auto 100px auto;
} 



.labelName {
	font-family: 'Questrial', sans-serif;
	font-size:1em;
	padding: .2%;
} 

.inputName {
  font-family: 'Lora', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #726659;
  
  border: solid 1px #adadad;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.inputName:hover {
  background: #F8F8F8;
  opacity: .5;
  color: black;
} 

.inputComment {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: black;
  font-family: 'Lora', sans-serif;
  font-size: 0.875em;
  opacity: .5;
  
  border-left: solid 1px #adadad;
  border-right: solid 1px #adadad;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.inputComment:hover {
  background: #f8f8f8;
  color: black;
}

#submit {
  width: 502px;
  
  padding: 10px 0px;
  margin: 5px 0px 0px 0px;
  background-color: #e8e8e8;
  font-family: 'Raleway', sans-serif;
  font-size: 0.875em;
  color: black;
 
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #adadad;
  border-top: none;	
  width: 94%;

  transition: .5s ease-in-out;
  -webkit- transition: .5s ease-in-out;

}

#submit:hover {
	background: #b260bb;
 	color: white;
 	opacity: 1;



} 
@media screen and (min-width: 600px) and (max-width: 922px) {



#wrapper{
  width: 95%;
}

.contact-form{
  margin-top: 5%;

  
}
#contactform {
  position: absolute;
  width: 300px;
  margin: 10px auto 20px auto;
  margin-bottom: 20%;
}

.contact-info{
  margin-top: 14%;
}

.inputName{
  width: 350px;
  max-width: 350px;
}

#comments{
  width: 350px;
  max-width: 350px;
}

#submit{
  width: 350px;
  max-width: 350px;
}
}



@media screen and (min-width: 340px) and (max-width: 599px) {

 #wrapper{
  width: 98%;
}

.firstpara{
  font-size: 1.6em;
  align-self: center;
  margin-left: 10%;
}

#socialMediaIcons{
  max-width: 340px;
  width: 90%;
  margin-left: 10%;
}

.contact-form{
  margin-top: 10%;
  margin-left: 10%;


  
}

#contactform {
  position: absolute;

  width: 300px;
  max-width: 500px;
  margin: 10px auto 20px auto;
  margin-bottom: 20%;
}

.inputName{
  
  max-width: 340px;
}

#comments{
  
  max-width: 340px;
}

#submit{
  width: 340px;
  max-width: 340px;
}
}

@media screen and (min-width: 0px) and (max-width: 339px) {
  #wrapper{
  width: 95%;
}

.firstpara{
  font-size: 1.6em;
  align-self: center;
  margin-left: 10%;
}

#socialMediaIcons{
  max-width: 90%;
  width: 90%;
  margin-left: 10%;
}

.contact-form{
  margin-top: 10%;
  margin-left: 0%;

  
}

#contactform {
  position: absolute;

  width: 300px;
  max-width: 500px;
  margin: 10px auto 20px auto;
  margin-bottom: 20%;
}
.inputName{
  width: 300px;
  max-width: 500px;
}

#comments{
  width: 300px;
  max-width: 500px;
}

#submit{
  width: 300px;
  max-width: 500px;
}

}

}