html {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	
	/* 100% of window with, so the body width of 80% will work as expected */
}
body {
	background-color: #f2f2f2;
	background-size: 100%;
	display: block;
	overflow-x: hidden;
}


#wrapperFade {
	margin: 0 auto;
	width: 80%;
	height: 100vh;
}
#bkgImg {
	display: none;
	position: absolute;
	width: 100%;
	height: auto;
	margin-left: -10%;
	margin-top: 6%;
	z-index: -10;
}

/*nav begin */

header {
	z-index: 10;
	position: fixed;
	background-color: white;
	width: 100%;
	height: 50px;
}
.rownav {
	margin-top: 0;
	width: 100%;
	height: 50px;
}
.name {
	position: absolute;
	text-decoration: none;
	color: #575757;
	font-family: 'Questrial', sans-serif;
	font-size: 1.25em;
	margin-top: 15px;
	margin-left: 50px;
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
}
.name:hover {
	text-decoration: none;
	color: #b260bb;
	cursor: pointer;
}
.name:active, .name:focus {
	text-decoration: none;
	color: #b260bb;
}
.mobile-toggle {
	display: none;
}
nav {
	width: 100%;
	padding-top: 10px;
	margin-top: -45px;
	text-decoration: none;
	color: #575757;
	font-family: 'Questrial', sans-serif;
	font-size: .9em;
}
nav ul {
	margin-right: 30px;
	overflow: hidden;
	list-style: none;
}
nav ul a {
	float: right;
	text-decoration: none;
	color: #575757;
	margin-right: 25px;
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
nav ul a:hover {
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	text-decoration: none;
	color: #575757;
}
nav ul a:active, nav ul a:focus {
	text-decoration: none;
	color: #b260bb;
}
.active {
	color: #b260bb;
	font-weight: bold;
	text-decoration: none;
}
.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-8px, 6px);
	transform: rotate(-45deg) translate(-8px, 6px);
	background-color: #b260bb;
}
.change .bar2 {
	opacity: 0;
}
.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-7.5px, -7px);
	transform: rotate(45deg) translate(-7.5px, -7px);
	background-color: #b260bb;
}


/*nav end */

a {
	color: inherit;
}

::-webkit-scrollbar {
	display: none;
}
#appearBox{
	position: static;
	display: none;
	z-index: 10;
	margin-top: 35px;
	margin-left: 35px;
	width: 208px;
	padding: 12px 12px 0px 12px;
	height: 50px;
	background-color: #ebebeb;
	opacity: .8;
	
}

#appearBox i {
	margin-right: 8px;
	
}

#appearBox p{
	position: fixed;
	margin-top: -30px;
	margin-left: 80px;
	color: #ebebeb;
	font-size: 1.25em;
	}

.fadeInIntro {
	margin-top: 75px;
	width: 80%;
	position: absolute;
}
.welcome-one {
	font-family: 'Questrial', sans-serif;
	position: relative;
	width: 100%;
	text-align: center;
	display: none;
}
.getStarted {
	font-family: 'Questrial', sans-serif;
	position: relative;
	margin-top: 5px;
	width: 100%;
	text-align: center;
	display: none;
	animation-delay: 1.5s;
}
.arrow {
	
	margin-left: 47.25%;
	align-self: center;
	width: 60px;
	height: 60px;
	background: linear-gradient(#4a75c7, #b260bb);
	padding-left: 3px;
	padding-top: 15px;
	border-radius: 50%;
	margin-top: -20px;
	transition: .75s;
	animation: bounce .75s ease-in-out forwards;
	-webkit-box-shadow: 3px 3px 15px 2px rgba(209, 209, 209, 0.75);
	-moz-box-shadow: 3px 3px 15px 2px rgba(209, 209, 209, 0.75);
	box-shadow: 3px 3px 15px 2px rgba(209, 209, 209, 0.75);
}
.arrow:hover {
	transform: scale(1.15);
}
.maincolor {
	color: #87485D;
}
.down {
	margin-left: 3%;
}
.imgLogo {
	width: 20%;
	height: auto;
	margin-top: 8%;
	margin-left: 60%;
	position: absolute;
}
.logo {
	display: none;
	margin-left: -12%;
	margin-top: 7%;
	float: left;
	position: relative;
	height: auto;
	width: 10%;
}

#spacerOne {
	padding-top: 20vh;
	position: relative;
}
.indexpara {
	background-image: url("./img/biopicture.png");
	background-repeat: no-repeat;
	background-position: 0% 35%;
	background-size: 30%;
	font-family: 'Questrial', sans-serif;
	font-size: 1.25em;
	margin-top: 70%;
	float: left;
	position: relative;
	margin-right: 0%;
	padding-left: 35%;
	margin-bottom: 0%;
	text-align: justify;
	height: auto;
	min-height: 100vh;
	display: none;

}
.indexpara:first-letter {
	font-size: 2em
}
#wordChange {
	font-size: 3em;
	color: #4a75c7;
	padding-top: 0px;
}

.aboutPic{
	position: absolute;
	width: 50%;
	height:auto;
	margin-left: -60%;
	margin-top: -30%;

}
#portfolioDiv{
	position: relative;
	float: left;
	
	
	width: 100%;
	
	padding-left: 0%;
	padding-right: 0%;
	padding-top: 0%;
	
	height: auto;
	min-height: 100vh;
	padding-bottom: 10%;
	display: none;
	
}

#portfolioDiv h1 {
	font-family: 'Questrial', sans-serif;
	font-size: 3.5em;
	background: linear-gradient(#4a75c7, #b260bb);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  	color: #b260bb;
	margin-left: 10%;
	margin-top: 5%;
}

.portSub {
	
	font-family: 'Questrial', sans-serif;
	font-size: 1.25em;
	color: #bababa;
	margin-left: 10%;
	margin-top: 10px;
	padding-top: 10px;
	transition: .75s;
	width: 225px;
	max-width: 300px;
	position: relative;
	overflow-x: hidden;
	z-index: 3;
}
.portSub:hover, .portSub:active, .portSub:focus{
	color: #b260bb;
	cursor: pointer;
}

.portActive{
	color: #b260bb;
	pointer-events: none;

}

.portInfo{
	border-top: solid 3px #ebebeb;
	font-family: 'Questrial', sans-serif;
	font-size: 1.25em;
	text-align: justify;
	margin-top: -190px;
	padding-top: 10px;
	margin-right: 10%;
	margin-bottom: 3%;
	transition: .75s;
	margin-left: 38%;
	max-width: 60%;
	float: left;
	position: absolute;
}

.port-fsinfo{
	margin-top: 100px; 
	margin-left: 10%; 
	color: #bababa; 
	font-family: 'Questrial', sans-serif; 
	font-size: 1.25em;
}

.fa-port{
	margin-right: 10px;
}
.containerLiveTracking, .containerMega, .containerHumanIntrusion{
		display: none;
	}
	
#contactDiv{
	position: relative;
	overflow: hidden;
	float: left;
	width: 100%;
	display: none;
	background-color: #b260bb;
	background: linear-gradient(#4a75c7, #b260bb);
	padding-left: 0%;
	padding-right: 0%;
	padding-top: 0%;
	padding-bottom: 0%;
	margin-left: 0%;
	
	
	height: auto;
	min-height: 65vh;
	
	
	margin-bottom: 0%;
	
}

#contactDiv h1{
	font-family: 'Questrial', sans-serif;
	margin: 0 auto;
	padding-top: 8vh;
	font-size: 3.5em;
	color: white;
	text-align: center;
	
	width: 80%;

}
#contactDiv p{
	margin-top: 5%;
	font-size: 2.25em;
	color: white;
	text-align: center;
	margin-left: 0%;
}

#contactDiv p + p{
	margin-top: 2%;
	font-size: 2.25em;
	color: white;
	text-align: center;
	margin-left: 0%;
}

#contactDiv p:last-child{
	padding-bottom: 5%;
	margin-bottom: 0;
}

#contactDiv a, #contactDiv a:hover, #contactDiv a:visited, #contactDiv a:focus {
	text-decoration: none;
	color: white;
}

.arrowDownContact{
	font-size: 5em !important;
	float: left;
	margin-top: -40px !important;
	padding-top: 0;
	margin-left: 47%;
	color: #b260bb !important;
	z-index: 8;
	position: relative;
	display: none;
	-webkit-transform:scale(2.5,1); /* Safari and Chrome */
    -moz-transform:scale(2.5,1); /* Firefox */
    -ms-transform:scale(2.5,1); /* IE 9 */
    -o-transform:scale(2.5,1); /* Opera */
    transform:scale(2.5,1); /* W3C */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#spacerThree{
	
	padding-top: 6vh;
	background-color: white;
	position: relative;
}

#bottomDiv{
	position: relative;
	display: none;
	float: left;
	width: 100%;
	overflow: hidden;
	margin-top: -50px;
	height: auto;
}

#bkgImgBottom {
	visibility: hidden;
	display: none;
	position: absolute;
	width: 100%;
	transform: scale(2) rotate(180deg);
	-webkit-transform: scale(2) rotate(180deg); /* Safari and Chrome */
    -moz-transform: scale(2) rotate(180deg); /* Firefox */
    -ms-transform: scale(2) rotate(180deg); /* IE 9 */
    -o-transform: scale(2) rotate(180deg); /* Opera */
	overflow-x: hidden;
	height: auto;
	margin-left: -6%;
	margin-top: 100px;
	z-index: -5;
}

.footer {
	position: relative;
	
	margin-top: 5%;
	margin-bottom: 0;
	float: left;
	font-family: 'Questrial', sans-serif;
	font-size: .8em;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	text-align: center;
	padding: 2% 20%;
	width: 100%;
	height: auto;
	color: #b260bb;
	-webkit-user-select: none;
	/* Chrome/Safari */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* IE10+ */
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}
@keyframes bounce {
	to {
		margin-top: 30px;
	}
	from {
		margin-top: 45px;
	}
}




/* For Less than 890 */

@media screen and (min-width: 1px) and (max-width: 890px) {
	body {
		background-repeat: no-repeat;
		background-position: 0px 400px;
		background-size: 100%;
		background-color: #f2f2f2;
		overflow-x: hidden !important;
	}
	#wrapperFade {
		padding-top: 10%;
	}
	.rownav {
		margin-top: 0;
		width: 105%;
		height: 50px;
		background-color: #efefef;
	}
	.name {
		position: absolute;
		text-decoration: none;
		color: #575757;
		font-family: 'Questrial', sans-serif;
		font-size: 1.25em;
		margin-top: 15px;
		margin-left: 15px;
	}
	.mobile-toggle {
		display: block;
		cursor: pointer;
		font-size: 20px;
		position: absolute;
		right: 22px;
		top: 15px;
		width: 30px;
		-webkit-transition: all 200ms ease-in;
		-moz-transition: all 200ms ease-in;
		transition: all 200ms ease-in;
	}
	.bar1, .bar2, .bar3 {
		width: 30px;
		height: 4px;
		margin-bottom: 6px;
		border-radius: 1000px;
		background: #575757;
		display: block;
		-webkit-transition: all 200ms ease-in;
		-moz-transition: all 200ms ease-in;
		transition: all 200ms ease-in;
	}
	nav {
		visibility: hidden;
		display: none;
		width: 100%;
		padding: 20px 0px;
		background-color: #efefef;
		margin-top: -16px;
		text-decoration: none;
		color: #575757;
		font-family: 'Questrial', sans-serif;
		font-size: 1.5em;
	}
	nav ul {
		list-style: none;
		text-align: right;
		line-height: 1.6em;
	}
	nav ul a {
		float: none;
		text-decoration: none;
		color: #575757;
		margin-right: 0px;
	}
	nav ul a:hover {}
	.active {
		color: #b260bb;
		font-weight: bold;
	}
	.change .bar1 {
		-webkit-transform: rotate(-45deg) translate(-8px, 6px);
		transform: rotate(-45deg) translate(-8px, 6px);
		background-color: #b260bb;
	}
	.change .bar2 {
		opacity: 0;
	}
	.change .bar3 {
		-webkit-transform: rotate(45deg) translate(-7.5px, -7px);
		transform: rotate(45deg) translate(-7.5px, -7px);
		background-color: #b260bb;
	}
	#appearBox{
		margin-left: 10px;
		margin-top: 15px;
	}
	.fadeInIntro {
		margin-top: 10%;
		margin-left: 10%;
		position: relative;
	}
	.welcome-one {
		font-size: 2em;
		background-color: white;
	}
	.letsGetStarted {
		font-size: 1.25em;
	}
	.arrow {
		margin: 0 auto;
	}
	.arrowContainer {
		margin-left: -12%;
		width: 120%;
	}
	#bkgImg {
		margin-top: 0;
		visibility: visible;
	}
	
	#spacerOne {
		margin-top: 25%;
		padding-top: 10%;
	}
	#spacerTwo {
		padding-top: 10%;
	}
	.indexpara {
		background-image: none;
		margin-right: 5%;
		width: 115%;
		margin-left: -7.5%;
		padding-left: 0%;
		padding-top: 30%;
		margin-top: 5%;
		padding-left: 0%;
		margin-right: 0;
		position: relative;
	}
	.homename {
		font-size: 2em;
		margin-top: 5%;
	}
	
	.continueBTN {
		display: none !important;
	}
	.container{
		width: 100vw;
		padding: 0;
	}
	
	.portInfo{

	font-family: 'Questrial', sans-serif;
	font-size: 1.25em;
	margin-top: 20px;
	margin-right: 5%;
	transition: .75s;
	margin-left: 5%;
	max-width: 90%;
	float: left;
	position: relative;
}
	#portfolioDiv h1{
		margin-left: 5%;
	}
	.port-fsinfo{
	margin-left: 5%; 

}
.arrowDownContact{
	margin-left: 46%;


}#bottomDiv{
	height: auto;
}

#bkgImgBottom {
		position: relative;
		margin-top: 210px;
		visibility: visible;
		display: show;
	}

 #footer{
	margin-top: 0%;
}

}
@media screen and (min-width: 390px) and (max-width: 501px) {
	body {
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: 100%;
		background-color: #f2f2f2;
		overflow-x: hidden !important;
	}
	.fadeInIntro {
		width: auto;
		font-size: 1.5em;
		margin-top: 20%;
		margin-left: 0%;
		position: relative;
	}
	#bkgImg {
		visibility: hidden;
	}
	#bkgImgBottom {
		position: relative;
		visibility: visible;
		display: show;
		margin-top: 100px;
	}
	.welcome-one {
		font-size: 1.65em;
		background-color: white;
	}
	.letsGetStarted {
		font-size: 1.25em;
	}

	.indexpara{
		margin-top: 50%;
	}
	#spacerOne {
		padding-top: 10%;
	}
	.portSub{
		font-size: 1.5em;
		width: auto;
	}

	
	#contactDiv p{
		font-size: 2em;
		margin-top: 10%;
		color: white;
	}
	#contactDiv p + p{
		font-size: 2em;
		margin-top: 7%;
		color: white;
	}
	#contactDiv p:last-child{
		padding-bottom: 4vh;
	}
	#footer{
		margin-top: -200px;
	}
	
}
/* For less than 375 */

@media screen and (max-width: 390px) {
	body {
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: 100%;
		background-color: #f2f2f2;
		overflow-x: hidden !important;
	}
	.fadeInIntro {
		width: auto;
		font-size: 1.5em;
		margin-top: 30%;
		margin-left: 0%;
		position: relative;
	}
	.welcome-one {
		font-size: 2em;
		background-color: white;
	}
	#bkgImg {
		visibility: hidden;
	}
	#bkgImgBottom {
		position: relative;
		visibility: visible;
		display: show;
		margin-top: 100px;
	}
	.welcome-one {
		font-size: 1.65em;
		background-color: white;
	}
	.letsGetStarted {
		font-size: 1em;
	}
	.indexpara{
		margin-top: 50%;
	}
	#spacerOne {
		padding-top: 10%;
	}
	#wordChange{
		font-size: 2.5em;
	}
	
	#portfolioDiv h1{
		font-size: 3em;
	}
	.portSub{
		font-size: 1.5em;
		width: auto;
	}
	.arrowDownContact{
		margin-left: 43%;
	}
	#contactDiv h1{
		font-size: 3em;
	}
	#contactDiv p{
		font-size: 2em;
		margin-top: 10%;
	}
	#contactDiv p + p{
		font-size: 2em;
		margin-top: 7%;
	}
	#contactDiv p:last-child{
		padding-bottom: 4vh;
	}
}