body{
	margin: 0 auto;
}



/*nav begin */

header {
	z-index: 100;
	position: fixed;
	background-color: white;
	width: 100%;
	height: 50px;
}
.rownav {
	margin-top: 0px;
	width: 100%;
	height: 50px;
}
.name {
	position: absolute;
	text-decoration: none;
	color: #575757;
	font-family: 'Questrial', sans-serif;
	font-size: 1.25em;
	margin-top: 15px;
	margin-left: 50px;
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
}
.name:hover {
	text-decoration: none;
	color: #b260bb;
	cursor: pointer;
}
.name:active, .name:focus {
	text-decoration: none;
	color: #b260bb;
}

nav {
	width: 100%;
	padding-top: 10px;
	margin-top: -45px;
	text-decoration: none;
	color: #575757;
	font-family: 'Questrial', sans-serif;
	font-size: .9em;
}
nav ul {
	margin-right: 30px;
	overflow: hidden;
	list-style: none;
}
nav ul a {
	float: right;
	text-decoration: none;
	color: #575757;
	margin-right: 25px;
	margin-top: 5px;
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
nav ul a:hover {
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	text-decoration: none;
	color: #575757;
}
nav ul a:active, nav ul a:focus {
	text-decoration: none;
	color: #b260bb;
}
.active {
	color: #b260bb;
	font-weight: bold;
	text-decoration: none;
}


/*nav end */

/*Header Begin */

.topInfo{
	
	position: relative;
	padding-top: 50px;
	position: center;
	max-width: 1400px;
	width: 80%;
	margin: auto;
	height: auto;
}

.main-head{
		position: relative;
		font-family: 'Montserrat', sans-serif;
		font-size: 6em;
		padding-top: 40px;
		margin-bottom: 0;
		width: auto;
		max-width: 600px;
	}

.topInfo h3{
	font-family: 'Questrial', sans-serif;
	font-size: 1.5em;
	margin-left: 5px;
}
/*Begin First Div */

	.videoDiv p{
		position: relative;
		width: auto;
		max-width: 1300;
		margin-top: 0;
		margin-left: 450px;
		padding-right: 0%;
		font-family: 'Questrial', sans-serif;
		font-size: 1.25em;
	}

	.videoDiv{
		position: relative;
		margin: auto;
		margin-top: 70px;
		max-width: 1400px;
		width: 80%;
		height: 750px;
	}	

	.iphoneTemplate{
		position: absolute;
		-webkit-box-shadow: 3px 3px 15px 2px rgba(209, 209, 209, 0.75);
	-moz-box-shadow: 3px 3px 15px 2px rgba(209, 209, 209, 0.75);
	box-shadow: 3px 3px 15px 2px rgba(209, 209, 209, 0.75);
	border-radius: 11%;
		
	}

	.androidTemplate{
		position: absolute;
		
		
	}

	.videoDiv #video-FT{
		position: absolute;
		margin-top: 40px;
		margin-left: 10px;
		z-index: -2;
		border-radius: 0%;
		background-color: rgba(0, 0, 0, 0);

	}

	.videoDiv #video-Valet{
		margin-top: 50px;
		position: absolute;
		margin-left: 10px;
		z-index: -2;
		border-radius: 0%;
		background-color: rgba(0, 0, 0, 0)
	}

	.videoDiv h2{
		font-family: 'Montserrat', sans-serif;
		font-size: 2em;
		position: relative;
		width: 65%;
		max-width: 1300;
		margin-top: 2%;
		margin-left: 450px;
		padding-right: 10%;
	}

	.videoDiv li{
		font-family: 'Questrial', sans-serif;
		font-size: 1.25em;
		position: relative;
		width: 65%;
		max-width: 1300;
		margin-top: 0;
		margin-left: 450px;
		padding-right: 10%;
	}

	.videoDiv ul{
		padding-bottom: 20px;
	}

/*Begin Second Div */
	.divStyleOne{
		position: relative;
		margin: auto;
		margin-top: 5%;
		padding-top: 10px;
		padding-left: 10%;
		padding-right: 10%;
		
		width: 100%;
		height: auto;
		min-height: 100vh;
	}

	.content{
		width: 90%;
		max-width: 1400px;
		margin: auto;
	}

	#userPersona{
		float: left;
		position: relative;
		width: auto;
		height: 50vh;
		margin-top: 25px;
		margin-right: 50px;
		margin-bottom: 30px;
		z-index: 10;
		-webkit-box-shadow: 3px 3px 15px 2px rgba(255, 137, 0, 0.75);
	    -moz-box-shadow: 3px 3px 15px 2px rgba(255, 137, 0, 0.75);
	    box-shadow: 3px 3px 15px 2px rgba(255, 137, 0, 0.75);
	}

	#ValetSketch{
		float: left;
		position: relative;
		width: auto;
		height: 50vh;
		margin-top: 25px;
		margin-right: 50px;
		margin-bottom: 30px;
		z-index: 10;
		-webkit-box-shadow: 3px 3px 15px 2px rgba(147, 53, 53, 0.75);
	    -moz-box-shadow: 3px 3px 15px 2px rgba(147, 53, 53, 0.75);
	    box-shadow: 3px 3px 15px 2px rgba(147, 53, 53, 0.75);
	}

	.content p:first-of-type{
		margin-top: 25px;
		
	}

	.content p{
		position: relative;
		
		width: auto;
		
		font-family: 'Questrial', sans-serif;
		font-size: 1.25em;
		color: white;
	}

	.content p:last-child{
		padding-bottom: 25px;
		padding-top: 0;
		margin-bottom: 0;
	}

	/* begin div 3 */

	.divStyleTwo{
		position: relative;
		margin: auto;
		margin-top: 0%;
		padding-top: 20px;
		padding-left: 10%;
		padding-right: 10%;
		
		width: 100%;
		height: auto;
		min-height: 100vh;
		
	}


	#lowFidelity{
		float: left;
		position: relative;
		width: auto;
		height: auto;
		margin-top: 25px;
		margin-right: 50px;
		margin-bottom: 30px;
		z-index: 10;
		-webkit-box-shadow: 3px 3px 15px 2px rgba(209, 209, 209, 0.75);
	    -moz-box-shadow: 3px 3px 15px 2px rgba(209, 209, 209, 0.75);
	    box-shadow: 3px 3px 15px 2px rgba(209, 209, 209, 0.75);
	}

	#ValetLogo{
		float: left;
		position: relative;
		width: auto;
		height: 55vh;
		margin-top: 25px;
		margin-right: 50px;
		margin-bottom: 30px;
		z-index: 10;
		-webkit-box-shadow: 3px 3px 15px 2px rgba(209, 209, 209, 0.75);
	    -moz-box-shadow: 3px 3px 15px 2px rgba(209, 209, 209, 0.75);
	    box-shadow: 3px 3px 15px 2px rgba(209, 209, 209, 0.75);
	}

	.divStyleTwo .content p{
		color: black;
	}


	/*Begin div style 3*/

	.divStyleThree{
		position: relative;
		margin: auto;
		margin-top: 0%;
		padding-top: 20px;
		padding-left: 10%;
		padding-right: 10%;
		
		width: 100%;
		height: auto;
		min-height: 100vh;
		
		
	}

	#valetShowcase{
		float: left;
		position: relative;
		width: 60%;
		height: auto;
		margin-top: 25px;
		margin-right: 50px;
		margin-bottom: 30px;
		z-index: 10;
		-webkit-box-shadow: 3px 3px 5px 6px #191919;
	    -moz-box-shadow: 3px 3px 5px 6px #191919;
	    box-shadow: 3px 3px 5px 6px #191919;
	}

	.divStyleThree .content .main-head{
		color: white;
	}


	.divStyleThree .content p{
		color: white;

	}

	
	

	.link{
		font-family: 'Montserrat', sans-serif;
		margin-top: 0;
		font-size: 1.75em;
		width: auto;

	}

	






@media screen and (min-width: 621px) and (max-width: 890px) {
	.name{
		margin-left: 15px;
	}

	nav ul a {
		margin-right: 0px;
	}

	.topInfo{
		position: relative;
		padding-top: 50px;
		width: 90%;
		margin-left: 5%;
		height: auto;
	}

	.main-head{
		width: 100%;
		max-width: 100%;
		font-size: 4.5em;
		padding-top: 40px;
		margin-top: 0;
	
	}

	.topInfo h3{
		width: 100%;
		
	}

	.videoDiv p{
		margin-left: 55%;
		padding-right: 5%;
		width: 40%;
	}

	.videoDiv{
		position: relative;
		margin-left: 5%;
		padding-right: 0%;
		height: auto;
		min-height: 800px;
		width: 95%;
		margin-top: 5%;

	}

	.iphoneTemplate{
		position: absolute;
		-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	
	filter: drop-shadow(3px 3px 15px 2px #d1d1d1);
	border-radius: 11%;
	width: 43%;
	min-width: 230px;
	margin-left: 0%;
	padding-right: 0%;


		
	}

	.androidTemplate{
		position: absolute;
		
	width: 43%;

	min-width: 230px;
	margin-left: 0%;
	padding-right: 0%;

	}

	.videoDiv #video-FT{
		position: absolute;
		margin-top: 5%;
		height: auto;
		margin-left: 2.5%;
		padding-right: 0%;
		width: 38%;
		min-width: 200px;
		z-index: -2;
		border-radius: 0%;
		background-color: rgba(0, 0, 0, 0);
	}

	.videoDiv #video-Valet{
		position: absolute;
		margin-top: 7%;
		height: auto;
		margin-left: 10px;
		padding-right: 0%;
		width: 40%;
		min-width: 200px;
		z-index: -2;
		border-radius: 0%;
		background-color: rgba(0, 0, 0, 0);
	}


	.videoDiv h2{
		margin-left: 55%;
		padding-right: 5%;
		width: 40%;
	}

	.videoDiv li{
		margin-left: 60%;
		padding-right: 5%;
		width: 40%;
	}

	.divStyleOne{
		height: auto;
		min-height: 95vh;
		width: 100%;
		margin-top: 25px;
		padding: 0;
		padding-top: 20px;
	}

	.content{
		width: 90%;
	}

	#userPersona{
		float: left;
		margin-top: 25px;
		position: relative;
		width: 100%;
		max-width: 500px;
		height: auto;
		margin-left: 0;
		margin-right: 50px;
		margin-bottom: 20px;
	
}

#ValetSketch{
		float: left;
		margin-top: 25px;
		position: relative;
		width: 30%;
		max-width: 400px;
		height: auto;
		margin-left: 0;
		margin-right: 50px;
		margin-bottom: 20px;
	
}
	.divStyleOne .content p:first-of-type{
		margin-top: 20px;
	}
	
	.content p{
		
		position: relative;
		margin-left: 0;
		width: auto;
		max-width: 1400px;
		font-family: 'Questrial', sans-serif;
		font-size: 1.25em;
		color: white;
	}

	.content p:last-child{
		padding-bottom: 25px;
		padding-top: 0;
		margin-bottom: 	0;
	}

	.divStyleTwo{
		height: auto;
		min-height: 95vh;
		width: 100%;
		margin-top: 25px;
		padding: 0;
		
	}

	.divStyleTwo .content p:first-of-type{
		margin-top: 20px;
	}

	.divStyleThree{
		height: auto;
		min-height: 95vh;
		width: 100%;
		margin-top: 25px;
		padding: 0;
		
	}

	#valetShowcase{
		float: left;
		margin-top: 25px;
		position: relative;
		width: 100%;
		max-width: 500px;
		height: auto;
		margin-left: 0;
		margin-right: 50px;
		margin-bottom: 20px;
	
}

	
}

@media screen and (min-width: 1px) and (max-width: 620px) {
	.name{
		margin-left: 15px;
	}

	nav ul a {
		margin-right: 0px;
	}

	.topInfo{
		max-width: 97.5%;
		position: relative;
		padding-top: 50px;
		width: 97.5%;
		margin-left: 2.5%;
		height: auto;
	}

	.main-head{
		text-align: center;
		width: 97.5%;
		max-width: 97.5%;
		font-size: 4em;
		padding-top: 20px;
		margin-top: 0;
		
	}

	.topInfo h3{
		width: 97.5%;
		text-align: center;
		margin-left: 0;
	}

	

	.videoDiv p{
		position: relative;
		width: 97.5%;
		max-width: 97.5%;
		margin-top: 40px;
		margin-left: 2.5%;
		padding-right: 2.5%;
		font-family: 'Questrial', sans-serif;
		font-size: 1.25em;
	}

	.videoDiv{

		height: auto;
		width: 97.5%;
		margin-top: 25px;
		margin: left: 2.5%;
		
	}

	.iphoneTemplate{
		position: absolute;
		-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	
	filter: drop-shadow(3px 3px 15px 2px #d1d1d1);
	border-radius: 11%;
	width: 80%;
	
	margin-left: 20%;
	padding-right: 20%;


		
	}

	.androidTemplate{
		position: absolute;
		
	width: 80%;
	
	margin-left: 20%;
	padding-right: 20%;
	}

	.videoDiv #video-FT{
		position: relative;
		margin-top: 6%;
		height: auto;
		margin-left: 23.5%;
		padding-right: 18.5%;
		width: 72%;
		z-index: -2;
		border-radius: 0%;
		background-color: rgba(0, 0, 0, 0);
	}

	.videoDiv #video-Valet{
		position: relative;
		margin-top: 10%;
		height: auto;
		margin-left: 21.5%;
		padding-right: 18.5%;
		width: 74%;
		z-index: -2;
		border-radius: 0%;
		margin-bottom: 40px;
		background-color: rgba(0, 0, 0, 0);
	}

	.videoDiv h2{
		width: 97.5%;
		max-width: 97.5%;
		margin-top: 25px;
		margin-left: 2.5%;
		padding-right: 2.5%;
		
	}

	.videoDiv li{
		width: 95%;
		max-width: 95%;
		margin-left: 5%;
		padding-right: 5%;
	}

	.divStyleOne{
		height: auto;
		min-height: 95vh;
		width: 100%;
		margin-top: 25px;
		padding: 0;
		padding-top: 20px;
	}

	.content{
		width: 97.5%;
		margin-left: 2.5%;
	}

	#userPersona{
		float: center;
		position: relative;
		width: 100%;
		height: auto;
		padding: 0;
		margin-bottom: 25px;
		margin-left: -1.25%;
	}
	#ValetSketch{
		float: none;
		margin: 0 auto;
		display: block;
		position: relative;
		width: 70%;
		height: auto;
		padding: 0;
		margin-bottom: 25px;
		margin-top: 20px;
	}



	.content p{
		position: relative;
		margin-left: 0;
		margin-right: 2.5%;
		width: auto;
		max-width: 1400px;
		font-family: 'Questrial', sans-serif;
		font-size: 1.25em;
		color: white;
	}

	.content p:last-child{
		padding-bottom: 25px;
		padding-top: 0;
		margin-bottom: 0;
	}


	.divStyleTwo{
		height: auto;
		min-height: 95vh;
		width: 100%;
		margin-top: 25px;
		padding: 0;
		
	}

	#lowFidelity{
		float: center;
		position: relative;
		width: 60%;
		height: auto;
		margin-left: 20%;
		margin-right: 20%;
		padding: 0;
		margin-bottom: 25px;
	}

	#ValetLogo{
		margin: 0 auto;
		margin-top: 10px;
		width: 280px;
		height: auto;
		text-align: center;
		display: block;
		float: none;
	}


	.divStyleThree{
		height: auto;
		min-height: 95vh;
		width: 100%;
		margin-top: 25px;
		padding: 0;
		
	}

	#valetShowcase{
		float: center;
		position: relative;
		width: 100%;
		height: auto;
		padding: 0;
		margin-bottom: 25px;
		margin-left: -1.25%;
	}



}

