 
#tab-container{
    padding: 0 5%;
    position: sticky;
    top: 0;
    background-color: var(--Gray900);
  
}

#tab-container ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

#tab-container u li{
    text-align: center;

}

#tab-container a {
    cursor: pointer;
    display: inline-block;
    padding: .5rem 0;
    margin: 0;
    text-decoration: none;
    padding: 1rem 1.5rem;
    color: var(--Gray300);
    transition: color .25s ease-in-out;

}

#tab-container .all a:hover,  #tab-container .about a:hover{
    color: var(--Gray100);
}

#tab-container .pd a:hover{
    color: var(--Purple_Light);
}

#tab-container .eng a:hover{
    color: var(--Pink_Light);
}

#tab-container .mus a:hover{
    color: var(--Light_Blue_Light);
}

#tab-container .exp a:hover{
    color: var(--Green_Light);
}

/* .active{
    color: var(--Gray100) !important;
    text-decoration: underline;
} */

.about{
    margin-left: auto;
}